<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context 
         https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  Component scanning
    <context:component-scan base-package="com.harsh.sbeans"/>

    Bean declaration with alias
    <bean id="diesel" class="com.harsh.sbeans.DieselEngine"/> -->
    
    <!-- configure properties file -->
    <context:property-placeholder location="com.harsh.cfgs"/>
       
    <alias name="diesel" alias="motor"/>
</beans>
