<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	
	<!-- enable compontScanning to detect user defined annotation with @component as spring beans -->
	<context:component-scan base-package="com.harsh"></context:component-scan>
	
	<!-- configure pre-defined class as spring beans  -->
	<bean id="Idate" class="java.time.LocalDate" factory-method="now"></bean>

</beans>