<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- dependent spring bean class cfg -->
	<bean id="Itime" class="java.time.LocalTime" factory-method="now"></bean>

	<!-- target spring bean class cfg -->
	<bean id="wmg" class="com.harsh.sbeans.WishMessageGenerator">
		<constructor-arg name="time" ref="Itime"></constructor-arg>
		<constructor-arg name="age" value="23"></constructor-arg>
	</bean>


</beans>